.heading{
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:120;
    color: whitesmoke;
    font-size: 60px;
    font-style: italic;
    margin-left: 600px; 
    margin-top: 50px;
}
.list{
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
    color: whitesmoke;
    font-size: larger;
    margin-left: 50px;
}
.heading2{
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:360;
    color: whitesmoke;
    font-size: x-large;
    font-style: italic;
    margin-left: 50px; 
    margin-top: 20px;
    padding: 20px;
}